.barranav{
    
    color: aliceblue;
    padding: 10px 25px; 
    text-decoration: none;
}

.barranav:hover{
    background: rgb(34, 56, 34);
    color: rgb(42, 157, 165);
}

nav{
   background: brown;
   
   display: flex;
    justify-content: space-around;
}
.imgperfil{
    border-radius: 60%;
      }
.nombre{
    margin-bottom: 5px; 
    padding: 20px 30px;
}      
.direccion{
    margin-top: 5px;
}