.barralateral {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color:brown;
    }
    
    .barralateral a {
    padding: 8px;
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-left: 40px;
    }
    
    .barralateral a:hover {
    cursor: pointer;
    opacity: .7;
    font-size: 30px;

    }
    
    .encabezado {
    margin-left: 50px;
    background: rgb(243, 213, 213);
    padding-top: 80px;
    }


.imgperfil{
    border-radius: 60%;
      }
.nombre{
    margin-bottom: -40px;
    margin-left: 220px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 100px;
    margin-top: -110px;
    padding-top: 2px;
    padding-bottom: 2px;
    
    
    
}      
.direccion{
    margin-top: 5px;
    padding: 1px 6px;
    margin-left: 200px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
}
.presentacion{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 250px;
    ;
}
.rrss{
    display: flex;
    align-items: center;
    padding-top: 35px;
    
    
 
}
 
.textogral {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 250px;

}
.linea2 {
    margin-left:350px;
       
}
.tituloempresa{
    margin-bottom: -40px;

}

.tituloescuela{
    margin-bottom: -40px;
    font-size: 40px;

}

@media(min-width:600px){
    
}
