.barralateral {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color:brown;
    }
    
    .barralateral a {
    padding: 8px;
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-left: 28px;
    text-shadow: 1px 2px 3px black ;
    }
    
    .barralateral a:hover {
    cursor: pointer;
    opacity: .7;
    font-size: 30px;

    }
    
    .encabezado {
    margin-left: 50px;
    background: rgb(243, 213, 213);
    padding-top: 130px;
    }


.imgperfil{
    border-radius: 60%;
      }
.nombre{
    margin-bottom: -40px;
    margin-left: 270px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 100px;
    margin-top: -160px;
    padding-top: 2px;
    padding-bottom: 2px;
    
    
    
}     

.direccion{
    margin-top: -45px;
    padding: 1px 6px;
    margin-left: 280px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    
}
.presentacion{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 250px;
    text-shadow: 1px 2px 3px grey ;
}
.rrss{
    display: flex;
    align-items: center;
    padding-top: 35px;
    justify-content: space-evenly;
    
    
 
}
 
.textogral {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 250px;

}
.titulos {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 50px;
    margin-left: 250px;
     }



.linea2 {
    margin-left:350px;
       
}
.tituloempresa{
    margin-bottom: -40px;

}

.tituloescuela{
    margin-bottom: -40px;
    font-size: 40px;

}

.piepagina{
    margin-left: 650px;
}

@media screen and (max-width:600px){
    .barralateral {
        height: 80px;
        width: 1500px;
        left: 0;
        top: 0;
        padding-top: 40px;
        background-color:brown;
        display: block;
        
        }
    .barralateral a {
        height: 30px;
        width: 1500px;
        padding-top: 30px;
        display: block;
        font-size: 15px;
        margin-top: -50px;
        position: flex;
    -ms-flex-align: start;        }

        .barralateral:hover{
            display: block;
            transform: scale(1.2);
        }


        .encabezado {
           padding: 10px;
            background: rgb(243, 213, 213);
            display: none
         
            }
            .linknav{
                margin-top: -125px;
                text-decoration: dotted;
            }
        
               
                
                
                       
           
                
           
            .imgperfil{
                display: flex;
                margin-left: 250px;
                margin-top: -32px;
                width: 100px;

            }
        

.nombre{
    margin-bottom: 24px;
    margin-left: 35px;
    margin-top: 50px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 50px;
    margin-top: 110px;
    padding-top: 0px;
    padding-bottom: 0px;
        
    }

    .direccion{
        margin-left: 30px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 12px;
       
}
    .presentacion{
         font-family: 'Saira Extra Condensed', sans-serif;
         font-size: 15px;
         margin-left: 0px;
         text-shadow: 1px 2px 3px grey ;
}
.textogral {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;

 }
 .titulos {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 5px;
     }

     .linea2 {
        margin-left:10px;


    }
    .tituloempresa{
        margin-bottom: -20px;
    
    }
    
    .tituloescuela{
        margin-bottom: -30px;
        font-size: 20px;


    }
    .rrss{
        display: flex;
        align-items: center;
        padding-top: 35px;
        justify-content: space-evenly;

  
    }
    .piepagina{
        margin-left: 0px;
        font-size: 10px;
        text-align: center;
    }

}